---
layout: default
title: Zein Sleiman - Software Engineer
---
{% for post in paginator.posts %}
<div itemscope itemtype="http://schema.org/Blog">
    <article class="home my-3" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 itemprop="name">
          <a href="{{ site.BASE_PATH }}{{ post.url }}" itemprop="url">{{ post.title }}</a>
        </h1>
        {% include tagline.html date = post.date %}
        <div class="mt-2 text-justify" itemprop="articleBody">
            {{ post.excerpt }}
        </div>
    </article>
</div>
{% endfor %}
{% if paginator.total_posts > 0 %}
  <hr/>
{% include pagination.html %}
{% else %}
  <p class="no-posts text-xs-center"> No posts available </p>
{% endif %}
