---
layout: page
title: Books Collections
published: true
---
{% assign groupedBooks = site.books | sort: "status" | group_by: "status" %}
{% for books in groupedBooks %}
{% assign loopIndex = forloop.index %}
{% assign loopCount = forloop.length | minus: 1 %}
<h2>
    {% case books.name %}
    {% when "read" %}
    Books I read
    {% when "inprogress" %}
    Books I am reading
    {% when "future" %}
    Books I want to read
    {% when "onhold" %}
    Books on hold
    {% endcase %}
</h2>
<div class="card-columns">
    {% for book in books.items %}
    <div class="card" itemscope itemtype="http://schema.org/Book">
        <div class="card-header text-center">
            <a href="{{book.book_link}}" target="_blank" itemprop="name"> {{book.title}} </a>
        </div>
        {% if book.status == "inprogress" %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span>Progress:</span>
                <span id="progress-{{book.aria_identifier}}">{{book.progress}}%</span>
                <progress class="progress progress-success" value="{{book.progress}}" max="100" aria-describedby="progress-{{book.aria_identifier}}"></progress>
            </li>
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% if loopIndex <= loopCount%} <hr>
    {% endif %}
    {% endfor %}