---
layout: page
title: Books Collections
published: true
---
{% assign groupedBooks = site.books | group_by: "status" %}
{% for books in groupedBooks %}
  <h1>
  {% case books.name %}
    {% when "read" %}
    Books I read
    {% when "inprogress" %}
    Books I am reading
    {% when "future" %}
    Books I want to read
  {% endcase %}
  </h1>
<div class="card-columns">
  {% for book in books.items %}
    <div class="card" itemscope itemtype="http://schema.org/Book">
      <div class="card-block">
        <h4 class="card-title">
          <a href="{{book.buy_link}}" target="_blank" itemprop="name"> {{book.title}} </a>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        {% if book.subtitle %}
        <li class="list-group-item" itemprop="about"> {{book.subtitle}}</li>
        {% endif %}
        <li class="list-group-item">
            <span>Author:</span>
            <span itemprop="author"> {{book.author}} </span>
        </li>
        {% if book.status == "inprogress" %}
        <li class="list-group-item">
            <span>Progress:</span>
            <span id="progress-{{book.aria_identifier}}">{{book.progress}}%</span>
            <progress class="progress progress-success" value="{{book.progress}}" max="100"
                      aria-describedby="progress-{{book.aria_identifier}}"></progress>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endfor %}
