---
layout: page
title: Books Collections
published: true
---
{% assign groupedBooks = site.books | reverse | group_by: "year" %}
{% for books in groupedBooks %}
{% assign loopIndex = forloop.index %}
{% assign loopCount = forloop.length | minus: 1 %}
<h2>
    {% if books.name != "" %}
    Books I read in {{books.name | to_integer}}
    {% endif %}
</h2>
<div class="card-columns">
    {% for book in books.items %}
    <div class="card" itemscope itemtype="http://schema.org/Book">
        <div class="card-header text-center">
            <a href="{{book.book_link}}" target="_blank" itemprop="name"> {{book.title}} </a>
        </div>
    </div>
    {% endfor %}
</div>
{% if loopIndex <= loopCount%} <hr>
    {% endif %}
    {% endfor %}