<!-- sidebar.html -->
<header class="sidebar-header text-center" role="banner">
	{% if site.author.image %}
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.author.image }}" class="rounded-circle" alt="Zein Sleiman" />
	</a>
	{% endif %}
	<h1 class="default-font">
		<a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
	</h1>
	{% if site.author.bio %}
	<h3 class="default-font">
		{{ site.author.bio }}
	</h3>
	{% endif %}
</header>
<nav class="nav flex-column my-3">

	<a class="nav-link d-flex justify-content-between align-items-center" href="/">
		<span>Home</span>
		<i class="fa fa-home"></i>
	</a>

	<a class="nav-link d-flex justify-content-between align-items-center" href="/about/">
		<span class="d-inline-block">About</span>
		<i class="fa fa-user"></i>
	</a>

	<a class="nav-link d-flex justify-content-between align-items-center" href="/archive/">
		<span class="d-inline-block">Archive</span>
		<i class="fa fa-archive"></i>
	</a>

	<a class="nav-link d-flex justify-content-between align-items-center" href="/books/">
		<span class="d-inline-block">Readings</span>
		<i class="fa fa-book"></i>
	</a>
</nav>
<div class="text-center pt-2">
	<ul class="list-inline">
		{% if site.author.github %}
		<li class="list-inline-item mr-2">
			<a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener">
				<i class="fab fa-github fa-2x" title="Github"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.keybase %}
		<li class="list-inline-item mr-2">
			<a href="https://keybase.io/{{ site.author.keybase}}" target="_blank" rel="noopener">
				<i class="fab fa-keybase fa-2x" title="Github"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li class="list-inline-item mr-2">
			<a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener">
				<i class="fab fa-twitter fa-2x" title="Twitter"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li class="list-inline-item mr-2">
			<a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener">
				<i class="fab fa-linkedin fa-2x" title="LinkedIn"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li class="list-inline-item">
			<a href="mailto:{{ site.author.email }}" target="_blank" rel="noopener">
				<i class="fas fa-envelope fa-2x" title="Email"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>
<!-- sidebar.html end -->