body, .default-font { font-family: 'Roboto Slab', sans-serif; }
body { color: #525252; }
body a { color: #f64929; }
body a:hover, body a:focus { color: #969a99; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }

.card { border: none; }
.fa-heart { color: red; }
.header-image { margin-left: -15px; overflow: hidden; }
.no-posts { font-size: 72px; min-height: 600px; margin-top: 300px;}
.headerToggle { display: none; }
.main { background-color: #cdcdcd;}
.affix { position: fixed; }
.tagline { letter-spacing: 1.5px; font-size: 1rem;}
.content {min-height: 600px;}
.not-found {font-size: 6rem; min-height: 650px; margin-top: 175px;}
.blog img {max-width: 100%; height: auto;}
.highlighter-rouge * {font-family: 'Roboto Slab', sans-serif !important;}
.word-nowrap {word-wrap:break-word;}

.highlight {
  background: #343535;
  color: #fff;
  padding: 0.5em 0.5em;
  line-height: 2em;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.space-highlight {background-color: #f64929; height: 1em; border-bottom: 1px solid white;}

/* sidebar */
.sidebar { display: block; padding-top: 5%; padding-left: 0; color: #fff;
    			 padding-right: 0; background-color: #343535; height: 100%;
}
.sidebar a, .sidebar a:focus { color: #fff; }
.sidebar a:hover { color: #f64929; }
.sidebar .nav .nav-item {
	padding: 0.2em 1em;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}
.sidebar .nav-item span { width: 88%; }

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .card-columns {
      column-count: 2;
    }
}

@media screen and (min-width: 767px) {
  .m-m-3 {margin-top: 1.5rem !important; margin-left: 1.1rem; margin-right: 1.1rem;}
}

@media screen and (max-width: 640px) {
	.sidebar h1 {font-size: 1.5rem;}
	.sidebar h3 {font-size: 1.2rem;}
}

@media screen and (min-width: 640px) and (max-width: 1365px) {
  body {font-size: 1.1rem;}
  .sidebar h1 {font-size: 1.8rem;}
	.sidebar h3 {font-size: 1.5rem;}
}

@media screen and (min-width: 1366px) {
  body {font-size: 1.4rem;}
  .card {font-size: 1.1rem;}
  .d-xl-block {display: inline-block !important;}
}

/* Media Queries for Responsive design*/
@media screen and (max-width: 767px) {
    .sidebar {
        overflow-y: hidden;
    }
    html, body {
        overflow-x: hidden;
    }
    .main.active {
        margin-left: 70%;
    }
    .sidebar-offcanvas {
        top: 0;
        width: 70%;
    }

    /* Burger Menu */
    .headerToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        position: fixed;
        top: 0.2em;
        width: 3.25em;
        right: 0.5em;
        height: 2.25em;
        z-index: 10001;
    }
    .headerToggle .toggle {
        position: absolute;
        right: 0.5em;
        top: 0.2em;
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        cursor: pointer;
        font-size: 18px;
        background: rgba(128, 136, 144, 0.5);
        border-radius: 0.35em;
        font-style: normal;
        font-weight: normal;
        width: 3.25em;
        height: 2.25em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerToggle .toggle .fa-bars {
        text-decoration: none;
        color: #f64929;
        font-size: 18px;
        line-height: 2.25em;
        text-align: center;
        display: block;
        line-height: 2.25em;
    }
}

@media screen and (max-width: 767px) and (orientation:landscape) {
  /* Styles for Landscape screen */
	.sidebar {
			overflow-y: scroll;
	}
}
